sch/dss.xml

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://purl.oclc.org/dsdl/schematron" 
  xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
  xmlns:fn="http://www.w3.org/2005/xpath-functions"
  xmlns:dbk="http://docbook.org/ns/docbook"
  xmlns:css="http://www.w3.org/1996/css"
  queryBinding="xslt2" xml:lang="en">
  
  <ns prefix="w" uri="http://schemas.openxmlformats.org/wordprocessingml/2006/main"/>
  <ns prefix="dbk" uri="http://docbook.org/ns/docbook" />
  <ns prefix="fn" uri="http://www.w3.org/2005/xpath-functions"/>
  <ns prefix="idml2xml" uri="http://transpect.io/idml2xml"/>

  <title>idml</title>

  <let name="base-dir" value="/*/@xml:base"/>
  <!-- these checks should be made after mode idml2xml:DocumentStoriesSorted -->

  <xsl:key name="idml2xml:style-by-Name" use="@Name"
    match="CellStyle | CharacterStyle | ObjectStyle | ParagraphStyle | TableStyle"/>

  <pattern id="idml_stylename_problems">
    <rule context="*[self::*:ParagraphStyle | self::*:CharacterStyle | self::*:CellStyle | self::*:TableStyle | self::*:ObjectStyle]">
    <let name="styledef" value="key('idml2xml:style-by-Name', @Name)[local-name() = current()/local-name()]"/>
      <report test="count($styledef) gt 1" id="idml_duplicate_style" diagnostics="idml_duplicate_style_de" role="warning">
        <span class="srcpath">BC_orphans</span>
        <span class="category">idml</span>
        <span class="issue" xmlns="http://www.w3.org/1999/xhtml"><xsl:value-of select="concat ('duplicate ', lower-case(replace(local-name(), '(\p{Ll})(\p{Lu})', '$1 $2')))"></xsl:value-of></span>
        The style <xsl:value-of select="translate(@Name, ':', '/')"/> is defined <xsl:value-of select="count($styledef)"/> times. This would result in conversion errors. Imported style version was deleted.
        <br xmlns="http://www.w3.org/1999/xhtml"/>
        Please make sure that the results are ok.
      </report>
      
    </rule>
  </pattern>

  <diagnostics>
    <diagnostic id="idml_duplicate_style_de" xml:lang="de">
      <span class="category">idml</span>
      <span class="issue" xmlns="http://www.w3.org/1999/xhtml">Formatvorlagendefinition mehrfach vorhanden</span>
      Das Format  <xsl:value-of select="translate(@Name, ':', '/')"/> ist <xsl:value-of select="count($styledef)"/> Mal im Dokument enthalten. 
      Um Konvertierungsproblem zu vermeiden, wurde die importierte Version des Formats entfernt.
      <br xmlns="http://www.w3.org/1999/xhtml"/>
      Sind die Konvertierungsergebnisse, die mit dem Format zusammenhängen in Ordnung, können Sie die Meldung ignorieren.
    </diagnostic>
  </diagnostics>
</schema>