idml/_IDML_Schema_RelaxNGCompact/datatype.rnc

# Adobe InDesign CS5 7.0.3.535

grammar {
anything = ( element * { anything } | attribute *  { text } | text )*

empty_type = attribute type { string "empty" }
bool_type = attribute type { string "boolean" }
string_type = attribute type { string "string" }
short_type = attribute type { string "short" }
long_type = attribute type { string "long" }
longlong_type = attribute type { string "longlong" }
double_type = attribute type { string "double" }
object_type = attribute type { string "object" }
date_type = attribute type { string "date" }
file_type = attribute type { string "file" }
enum_type = attribute type { string "enumeration" }
unit_type = attribute type { string "unit" }
stream_type = attribute type { string "binary" }
list_type = attribute type { string "list" }
record_type = attribute type { string "record" }

# A geometry path that contains the number of path points in the path, a list of all the path points, and whether the path is open.
GeometryPathType_TypeDef = 
  attribute PathOpen { xsd:boolean },
  element PathPointArray { element PathPointType { PathPointType_TypeDef }* 
  }

# A point in the form (x, y).
XyPointType_TypeDef = list { xsd:double ,xsd:double } 

# An InDesign path point containing (anchor point, left direction point, right direction point).
PathPointType_TypeDef = 
  attribute Anchor { XyPointType_TypeDef },
  attribute LeftDirection { XyPointType_TypeDef },
  attribute RightDirection { XyPointType_TypeDef }

# The bounds of a rectangle in the form [left, top, right, bottom].
RectangleBoundsType_TypeDef = 
  attribute Left { xsd:double },
  attribute Top { xsd:double },
  attribute Right { xsd:double },
  attribute Bottom { xsd:double }

# A transformation matrix in the form (a, b, c, d, e, f).
TransformationMatrixType_TypeDef = list { xsd:double ,xsd:double ,xsd:double ,xsd:double ,xsd:double ,xsd:double } 

# An override mojikumi aki.
OverrideMojikumiAkiType_TypeDef = 
  attribute TargetMojikumiClass { xsd:short },
  attribute SideMojikumiClass { xsd:short },
  attribute SideIsAfterTarget { xsd:boolean },
  attribute Minimum { xsd:double },
  attribute Desired { xsd:double },
  attribute Maximum { xsd:double },
  attribute CompressionPriority { xsd:short },
  attribute AkiDoesNotFloat { xsd:boolean }

# A key value pair.
KeyValuePair_TypeDef = 
  attribute Key { xsd:string },
  attribute Value { xsd:string }

# Properties or parameters using the InDesign UI Colors enumeration use this to specify the type as either one of the enumerated UI colors or a list of RGB values for a custom color.
InDesignUIColorType_TypeDef = 
  (list_type, 
  element ListItem { double_type, xsd:double {minInclusive="0" maxInclusive="255"} },
  element ListItem { double_type, xsd:double {minInclusive="0" maxInclusive="255"} },
  element ListItem { double_type, xsd:double {minInclusive="0" maxInclusive="255"} }) |
  (enum_type, UIColors_EnumValue )

# A point specified in unit type in the form (x, y).
UnitPointType_TypeDef = list { xsd:double ,xsd:double } 

# The bounds of a rectangle specified in unit type in the form [top, left, bottom, right].
UnitRectangleBoundsType_TypeDef = 
  attribute Top { xsd:double },
  attribute Left { xsd:double },
  attribute Bottom { xsd:double },
  attribute Right { xsd:double }

# Properties or parameters using the InCopy UI Colors enumeration use this to specify the type as either one of the enumerated UI colors or a list of RGB values for a custom color.
InCopyUIColorType_TypeDef = 
  (list_type, 
  element ListItem { double_type, xsd:double {minInclusive="0" maxInclusive="255"} },
  element ListItem { double_type, xsd:double {minInclusive="0" maxInclusive="255"} },
  element ListItem { double_type, xsd:double {minInclusive="0" maxInclusive="255"} }) |
  (enum_type, InCopyUIColors_EnumValue )

# A name value pair
NameValuePair_TypeDef = 
  attribute Name { xsd:string },
  attribute Value { xsd:string }

# Index header group.
IndexHeaderGroupType_TypeDef = 
  attribute InternalName { xsd:string },
  attribute UIString { xsd:string },
  attribute DocumentString { xsd:string },
  attribute Visibility { xsd:boolean },
  element SectionHeaderArray { element SectionHeaderType { SectionHeaderType_TypeDef }* 
  }

# Index section header.
SectionHeaderType_TypeDef = 
  attribute SortingHeaderString { xsd:string },
  attribute DocumentHeaderString { xsd:string },
  attribute UIHeaderString { xsd:string },
  attribute Language { xsd:int }

# Index instance.
IndexInstanceType_TypeDef = 
  attribute Name { xsd:string },
  attribute Story { xsd:string }

# The preflight error results for a single node, consisting of up to three strings describing error info for that node.
PreflightErrorNodeType_TypeDef = 
  attribute ParentNodeID { xsd:int },
  attribute ErrorName { xsd:string },
  attribute PageNumber { xsd:string },
  attribute ErrorInfo { xsd:string },
  element ErrorDetail { element PreflightErrorInfoType { PreflightErrorInfoType_TypeDef }* 
  }

# The preflight results.
PreflightResultsType_TypeDef = 
  attribute DocumentName { xsd:string },
  attribute ProfileName { xsd:string },
  element Results { element PreflightErrorNodeType { PreflightErrorNodeType_TypeDef }* 
  }

# preflight error detail info type
PreflightErrorInfoType_TypeDef = 
  attribute Label { xsd:string },
  attribute Description { xsd:string }

# preflight rule data base list type
PreflightRuleDataBaseListType_TypeDef = list_type, element ListItem { 
    (string_type, xsd:string ) |
    (double_type, xsd:double ) |
    (long_type, xsd:int ) |
    (short_type, xsd:short ) |
    (bool_type, xsd:boolean ) |
    (object_type, xsd:string )
  }* 

# preflight rule data list type
PreflightRuleDataListType_TypeDef = list_type, element ListItem { 
    list_type, element PreflightRuleDataBaseListType { PreflightRuleDataBaseListType_TypeDef }* 
  }* 

# animation data key frame type
AnimationDataKeyFrameType_TypeDef = 
  attribute KeyFrame { xsd:int },
  attribute Value { xsd:double }

# animation data motion path key frame type
AnimationDataPathKeyFrameType_TypeDef = 
  attribute KeyFrame { xsd:int },
  element PathPoint { PathPointType_TypeDef }

# A condition verses it's visibility
VisibilityPair_TypeDef = 
  attribute Condition { xsd:string },
  attribute Visibility { xsd:boolean }

AddPageOptions_EnumValue = string "EndOfStory" | string "EndOfSection" | string "EndOfDocument"
AdornmentOverprint_EnumValue = string "Auto" | string "OverprintOn" | string "OverprintOff"
AlignmentStyleOptions_EnumValue = string "Spreadsheet" | string "LeftAlign" | string "RightAlign" | string "CenterAlign"
AlternateGlyphForms_EnumValue = string "None" | string "TraditionalForm" | string "ExpertForm" | string "JIS78Form" | string "JIS83Form" | string "MonospacedHalfWidthForm" | string "ThirdWidthForm" | string "QuarterWidthForm" | string "NLCForm" | string "ProportionalWidthForm" | string "FullWidthForm" | string "JIS04Form" | string "JIS90Form"
AnchorPoint_EnumValue = string "TopLeftAnchor" | string "TopCenterAnchor" | string "TopRightAnchor" | string "LeftCenterAnchor" | string "CenterAnchor" | string "RightCenterAnchor" | string "BottomLeftAnchor" | string "BottomCenterAnchor" | string "BottomRightAnchor"
AnchorPosition_EnumValue = string "InlinePosition" | string "AboveLine" | string "Anchored"
AnchoredRelativeTo_EnumValue = string "ColumnEdge" | string "TextFrame" | string "PageMargins" | string "PageEdge" | string "AnchorLocation"
AnimationEaseOptions_EnumValue = string "NoEase" | string "EaseIn" | string "EaseOut" | string "EaseInOut" | string "CustomEase"
AnimationPlayOperations_EnumValue = string "Play" | string "Stop" | string "Pause" | string "Resume" | string "ReversePlayback" | string "StopAll"
ArrowHead_EnumValue = string "None" | string "SimpleArrowHead" | string "SimpleWideArrowHead" | string "TriangleArrowHead" | string "TriangleWideArrowHead" | string "BarbedArrowHead" | string "CurvedArrowHead" | string "CircleArrowHead" | string "CircleSolidArrowHead" | string "SquareArrowHead" | string "SquareSolidArrowHead" | string "BarArrowHead"
AssignmentExportOptions_EnumValue = string "EmptyFrames" | string "AssignedSpreads" | string "Everything"
AutoEnum_EnumValue = string "AutoValue"
BalanceLinesStyle_EnumValue = string "NoBalancing" | string "VeeShape" | string "FullyBalanced" | string "PyramidShape"
BaselineFrameGridRelativeOption_EnumValue = string "TopOfPage" | string "TopOfMargin" | string "TopOfFrame" | string "TopOfInset"
BaselineGridRelativeOption_EnumValue = string "TopOfPageOfBaselineGridRelativeOption" | string "TopOfMarginOfBaselineGridRelativeOption"
BehaviorEvents_EnumValue = string "MouseUp" | string "MouseDown" | string "MouseEnter" | string "MouseExit" | string "OnFocus" | string "OnBlur"
BevelAndEmbossDirection_EnumValue = string "Up" | string "Down"
BevelAndEmbossStyle_EnumValue = string "OuterBevel" | string "InnerBevel" | string "Emboss" | string "PillowEmboss"
BevelAndEmbossTechnique_EnumValue = string "SmoothContour" | string "ChiselHard" | string "ChiselSoft"
BlendMode_EnumValue = string "Normal" | string "Multiply" | string "Screen" | string "Overlay" | string "SoftLight" | string "HardLight" | string "ColorDodge" | string "ColorBurn" | string "Darken" | string "Lighten" | string "Difference" | string "Exclusion" | string "Hue" | string "Saturation" | string "Color" | string "Luminosity"
BlendingSpace_EnumValue = string "Default" | string "RGB" | string "CMYK"
BookletTypeOptions_EnumValue = string "TwoUpSaddleStitch" | string "TwoUpPerfectBound" | string "TwoUpConsecutive" | string "ThreeUpConsecutive" | string "FourUpConsecutive"
BuildingBlockTypes_EnumValue = string "CustomStringBuildingBlock" | string "FileNameBuildingBlock" | string "ChapterNumberBuildingBlock" | string "PageNumberBuildingBlock" | string "FullParagraphBuildingBlock" | string "ParagraphNumberBuildingBlock" | string "ParagraphTextBuildingBlock" | string "BookmarkNameBuildingBlock"
BulletCharacterType_EnumValue = string "UnicodeOnly" | string "UnicodeWithFont" | string "GlyphWithFont"
Capitalization_EnumValue = string "Normal" | string "SmallCaps" | string "AllCaps" | string "CapToSmallCap"
ChangeCaseOptions_EnumValue = string "None" | string "Uppercase" | string "Lowercase" | string "Titlecase" | string "Sentencecase"
ChangeTypes_EnumValue = string "InsertedText" | string "DeletedText" | string "MovedText"
ChapterNumberSources_EnumValue = string "UserDefined" | string "ContinueFromPreviousDocument" | string "SameAsPreviousDocument"
CharacterAlignment_EnumValue = string "AlignBaseline" | string "AlignEmTop" | string "AlignEmCenter" | string "AlignEmBottom" | string "AlignICFTop" | string "AlignICFBottom"
CharacterCountLocation_EnumValue = string "None" | string "TopAlign" | string "LeftAlign" | string "BottomAlign" | string "RightAlign"
CharacterDirectionOptions_EnumValue = string "DefaultDirection" | string "LeftToRightDirection" | string "RightToLeftDirection"
ClippingPathType_EnumValue = string "None" | string "DetectEdges" | string "AlphaChannel" | string "PhotoshopPath" | string "UserModifiedPath"
ColorModel_EnumValue = string "Spot" | string "Process" | string "Registration" | string "Mixedinkmodel"
ColorOutputModes_EnumValue = string "CompositeLeaveUnchanged" | string "CompositeGray" | string "CompositeRGB" | string "CompositeCMYK" | string "Separations" | string "InRIPSeparations"
ColorOverride_EnumValue = string "Normal" | string "Specialpaper" | string "Specialblack" | string "Specialregistration" | string "Hiddenreserved" | string "Mixedinkparent"
ColorRenderingDictionary_EnumValue = string "Default" | string "UseDocument" | string "Working"
ColorSettingsPolicy_EnumValue = string "ColorPolicyOff" | string "PreserveEmbeddedProfiles" | string "ConvertToWorkingSpace" | string "CombinationOfPreserveAndSafeCmyk"
ColorSpace_EnumValue = string "RGB" | string "CMYK" | string "LAB" | string "MixedInk" | string "NoAlternateColor"
ComposeUsing_EnumValue = string "UseUserDictionary" | string "UseDocument" | string "Both"
ConditionIndicatorMethod_EnumValue = string "UseUnderline" | string "UseHighlight"
ConditionIndicatorMode_EnumValue = string "ShowIndicators" | string "ShowAndPrintIndicators" | string "HideIndicators"
ConditionUnderlineIndicatorAppearance_EnumValue = string "Wavy" | string "Solid" | string "Dashed"
ContentType_EnumValue = string "Unassigned" | string "GraphicType" | string "TextType"
ContentsTypeSettings_EnumValue = string "AxialShade" | string "RadialShade" | string "MeshShade" | string "ConstantShade"
ContourOptionsTypes_EnumValue = string "BoundingBox" | string "PhotoshopPath" | string "DetectEdges" | string "AlphaChannel" | string "GraphicFrame" | string "SameAsClipping"
ConvertPageBreaks_EnumValue = string "None" | string "PageBreak" | string "ColumnBreak"
ConvertTablesOptions_EnumValue = string "UnformattedTable" | string "UnformattedTabbedText"
CornerOptions_EnumValue = string "None" | string "RoundedCorner" | string "InverseRoundedCorner" | string "InsetCorner" | string "BevelCorner" | string "FancyCorner"
CrossReferenceType_EnumValue = string "SeeOrAlsoBracket" | string "See" | string "SeeAlso" | string "SeeHerein" | string "SeeAlsoHerein" | string "CustomCrossReference" | string "CustomCrossReferenceBefore" | string "CustomCrossReferenceAfter"
DataFormat_EnumValue = string "ASCII" | string "Binary"
DataSourceType_EnumValue = string "CommaSeparated" | string "TabDelimited"
DesignOptions_EnumValue = string "FromCurrentAppearance" | string "ToCurrentAppearance" | string "ToCurrentLocation"
DiacriticPositionOptions_EnumValue = string "DefaultPosition" | string "LoosePosition" | string "MediumPosition" | string "TightPosition" | string "OpentypePosition"
DigitsTypeOptions_EnumValue = string "DefaultDigits" | string "ArabicDigits" | string "HindiDigits" | string "FarsiDigits" | string "NativeDigits" | string "FullFarsiDigits" | string "ThaiDigits" | string "LaoDigits" | string "DevanagariDigits" | string "BengaliDigits" | string "GurmukhiDigits" | string "GujaratiDigits" | string "OriyaDigits" | string "TamilDigits" | string "TeluguDigits" | string "KannadaDigits" | string "MalayalamDigits" | string "TibetanDigits" | string "KhmerDigits" | string "BurmeseDigits"
DisplayOrderOptions_EnumValue = string "OrderByRows" | string "OrderByColumns"
DisplaySettingOptions_EnumValue = string "HighQuality" | string "Typical" | string "Optimized" | string "Default"
DocumentIntentOptions_EnumValue = string "PrintIntent" | string "WebIntent"
DynamicTriggerEvents_EnumValue = string "OnPageLoad" | string "OnPageClick" | string "OnStateLoad" | string "OnClick" | string "OnRollover" | string "OnRelease" | string "OnRolloff" | string "OnSelfClick" | string "OnSelfRollover"
EmptyFrameFittingOptions_EnumValue = string "None" | string "ContentToFrame" | string "Proportionally" | string "FillProportionally"
EncodingType_EnumValue = string "HexEncoding" | string "Ascii85Encoding" | string "Ascii64Encoding"
EndCap_EnumValue = string "ButtEndCap" | string "RoundEndCap" | string "ProjectingEndCap"
EndJoin_EnumValue = string "MiterEndJoin" | string "RoundEndJoin" | string "BevelEndJoin"
FeatherCornerType_EnumValue = string "Sharp" | string "Rounded" | string "Diffusion"
FeatherMode_EnumValue = string "None" | string "Standard"
FirstBaseline_EnumValue = string "AscentOffset" | string "CapHeight" | string "LeadingOffset" | string "EmboxHeight" | string "XHeight" | string "FixedHeight"
Fitting_EnumValue = string "Proportional" | string "FitContentToFrame" | string "FitFrameToContent" | string "PreserveSizes" | string "FillProportional"
FlattenerLevel_EnumValue = string "Low" | string "MediumLow" | string "Medium" | string "MediumHigh" | string "High"
FlipValues_EnumValue = string "NotFlipped" | string "Flipped" | string "UndefinedFlipValue"
Flip_EnumValue = string "None" | string "Horizontal" | string "Vertical" | string "HorizontalAndVertical" | string "Both"
FloatingWindowPosition_EnumValue = string "UpperLeft" | string "UpperMiddle" | string "UpperRight" | string "CenterLeft" | string "Center" | string "CenterRight" | string "LowerLeft" | string "LowerMiddle" | string "LowerRight"
FloatingWindowSize_EnumValue = string "OneFifth" | string "OneFourth" | string "OneHalf" | string "Full" | string "Double" | string "Triple" | string "Quadruple" | string "Max"
FollowShapeModeOptions_EnumValue = string "None" | string "LeadingEdge" | string "AllEdges"
FontDownloading_EnumValue = string "None" | string "Complete" | string "Subset" | string "SubsetLarge"
FontStatus_EnumValue = string "Installed" | string "NotAvailable" | string "Fauxed" | string "Substituted" | string "Unknown"
FontTypes_EnumValue = string "Type1" | string "TrueType" | string "CID" | string "ATC" | string "Bitmap" | string "OCF" | string "OpenTypeCFF" | string "OpenTypeCID" | string "OpenTypeTT" | string "Unknown"
FootnoteFirstBaseline_EnumValue = string "AscentOffset" | string "CapHeight" | string "LeadingOffset" | string "EmboxHeight" | string "XHeight" | string "FixedHeight"
FootnoteMarkerPositioning_EnumValue = string "NormalMarker" | string "SuperscriptMarker" | string "SubscriptMarker" | string "RubyMarker"
FootnoteNumberingStyle_EnumValue = string "UpperRoman" | string "LowerRoman" | string "UpperLetters" | string "LowerLetters" | string "Arabic" | string "Symbols" | string "Kanji" | string "FullWidthArabic" | string "SingleLeadingZeros" | string "DoubleLeadingZeros" | string "Asterisks" | string "ArabicAlifBaTah" | string "ArabicAbjad" | string "HebrewBiblical" | string "HebrewNonStandard"
FootnotePrefixSuffix_EnumValue = string "NoPrefixSuffix" | string "PrefixSuffixReference" | string "PrefixSuffixMarker" | string "PrefixSuffixBoth"
FootnoteRestarting_EnumValue = string "DontRestart" | string "PageRestart" | string "SpreadRestart" | string "SectionRestart"
FrameTypes_EnumValue = string "TextFrameType" | string "FrameGridType" | string "Unknown"
GIFOptionsPalette_EnumValue = string "AdaptivePalette" | string "MacintoshPalette" | string "WebPalette" | string "WindowsPalette"
GlowTechnique_EnumValue = string "Softer" | string "Precise"
GoToZoomOptions_EnumValue = string "InheritZoom" | string "FitWindow" | string "FitWidth" | string "FitVisible" | string "ActualSize"
GradientType_EnumValue = string "Linear" | string "Radial"
GridAlignment_EnumValue = string "None" | string "AlignBaseline" | string "AlignEmTop" | string "AlignEmCenter" | string "AlignEmBottom" | string "AlignICFTop" | string "AlignICFBottom"
GridStartingPointOptions_EnumValue = string "TopOutside" | string "TopInside" | string "BottomOutside" | string "BottomInside" | string "CenterVertical" | string "CenterHorizontal" | string "CenterCompletely"
GridViewSettings_EnumValue = string "GridViewEnum" | string "ZnViewEnum" | string "AlignViewEnum" | string "GridAndZnViewEnum"
HeaderFooterBreakTypes_EnumValue = string "InAllTextColumns" | string "OncePerTextFrame" | string "OncePerPage"
HeaderTypes_EnumValue = string "BasicLatin" | string "FinnishSwedish" | string "DanishNorwegian" | string "Spanish" | string "Croatian" | string "Czech" | string "Estonian" | string "Hungarian" | string "Latvian" | string "Lithuanian" | string "Polish" | string "Romanian" | string "Slovak" | string "Slovenian" | string "Turkish" | string "Belarusian" | string "Bulgarian" | string "Russian" | string "Ukrainian" | string "KoreanConsonant" | string "KoreanConsonantPlusVowel" | string "HiraganaAll" | string "HiraganaConsonantsOnly" | string "KatakanaAll" | string "KatakanaConsonantsOnly" | string "ChinesePinyin" | string "ChineseStrokeCount"
HorizontalAlignment_EnumValue = string "RightAlign" | string "LeftAlign" | string "CenterAlign" | string "TextAlign"
HorizontalOrVertical_EnumValue = string "Horizontal" | string "Vertical"
HyperlinkAppearanceHighlight_EnumValue = string "None" | string "Invert" | string "Outline" | string "Inset"
HyperlinkAppearanceStyle_EnumValue = string "Solid" | string "Dashed"
HyperlinkAppearanceWidth_EnumValue = string "Thin" | string "Medium" | string "Thick"
HyperlinkDestinationPageSetting_EnumValue = string "Fixed" | string "FitView" | string "FitWindow" | string "FitWidth" | string "FitHeight" | string "FitVisible" | string "InheritZoom"
ImageConversion_EnumValue = string "Automatic" | string "JPEG" | string "GIF"
ImageDataTypes_EnumValue = string "AllImageData" | string "OptimizedSubsampling" | string "ProxyImageData" | string "None"
ImportPlatform_EnumValue = string "Macintosh" | string "PC"
ImportedPageCropOptions_EnumValue = string "CropContent" | string "CropBleed" | string "CropSlug"
InCopyUIColors_EnumValue = string "Canary" | string "Lemon" | string "Electrolyte" | string "Lime" | string "Forest" | string "Lichen" | string "Jade" | string "Aqua" | string "Cirrus" | string "Ether" | string "Slate" | string "Ultramarine" | string "Midnight" | string "Blueberry" | string "Eggplant" | string "Grape" | string "Fuchsia" | string "Iris" | string "Carnation" | string "Mocha" | string "Wheat" | string "Mustard" | string "Amber" | string "Cornstarch" | string "Powder" | string "Smoke" | string "Graphite" | string "Gunmetal" | string "LightBlue" | string "Red" | string "Green" | string "Blue" | string "Yellow" | string "Magenta" | string "Cyan" | string "Gray" | string "Black" | string "Orange" | string "DarkGreen" | string "Teal" | string "Tan" | string "Brown" | string "Violet" | string "Gold" | string "DarkBlue" | string "Pink" | string "Lavender" | string "BrickRed" | string "OliveGreen" | string "Peach" | string "Burgundy" | string "GrassGreen" | string "Ochre" | string "Purple" | string "LightGray" | string "Charcoal" | string "GridBlue" | string "GridOrange" | string "Fiesta" | string "LightOlive" | string "Lipstick" | string "CuteTeal" | string "Sulphur" | string "GridGreen" | string "White"
IndexFormat_EnumValue = string "RuninFormat" | string "NestedFormat"
InkTypes_EnumValue = string "Normal" | string "Opaque" | string "Transparent" | string "OpaqueIgnore"
InnerGlowSource_EnumValue = string "CenterSourced" | string "EdgeSourced"
JPEGOptionsFormat_EnumValue = string "BaselineEncoding" | string "ProgressiveEncoding"
JPEGOptionsQuality_EnumValue = string "Low" | string "Medium" | string "High" | string "Maximum"
Justification_EnumValue = string "LeftAlign" | string "CenterAlign" | string "RightAlign" | string "LeftJustified" | string "RightJustified" | string "CenterJustified" | string "FullyJustified" | string "ToBindingSide" | string "AwayFromBindingSide"
KashidasOptions_EnumValue = string "DefaultKashidas" | string "KashidasOff"
KentenAlignment_EnumValue = string "AlignKentenLeft" | string "AlignKentenCenter"
KentenCharacterSet_EnumValue = string "CharacterInput" | string "ShiftJIS" | string "JIS" | string "Kuten" | string "Unicode"
KentenCharacter_EnumValue = string "None" | string "KentenSesameDot" | string "KentenWhiteSesameDot" | string "KentenBlackCircle" | string "KentenWhiteCircle" | string "KentenBlackTriangle" | string "KentenWhiteTriangle" | string "KentenBullseye" | string "KentenFisheye" | string "KentenSmallBlackCircle" | string "KentenSmallWhiteCircle" | string "Custom"
KinsokuHangTypes_EnumValue = string "None" | string "KinsokuHangRegular" | string "KinsokuHangForce"
KinsokuSet_EnumValue = string "Nothing" | string "HardKinsoku" | string "SoftKinsoku" | string "KoreanKinsoku" | string "SimplifiedChineseKinsoku" | string "TraditionalChineseKinsoku"
KinsokuType_EnumValue = string "KinsokuPushInFirst" | string "KinsokuPushOutFirst" | string "KinsokuPushOutOnly" | string "KinsokuPrioritizeAdjustmentAmount"
LeadingModel_EnumValue = string "LeadingModelRoman" | string "LeadingModelAkiBelow" | string "LeadingModelAkiAbove" | string "LeadingModelCenter" | string "LeadingModelCenterDown"
Leading_EnumValue = string "Auto"
LineAlignment_EnumValue = string "LeftOrTopLineAlign" | string "CenterLineAlign" | string "RightOrBottomLineAlign" | string "LeftOrTopLineJustify" | string "CenterLineJustify" | string "RightOrBottomLineJustify" | string "FullLineJustify"
LinkExportPolicy_EnumValue = string "NoAutoExport" | string "ExportOnModify" | string "ExportOnClose" | string "ExportOnSave"
LinkImportPolicy_EnumValue = string "NoAutoImport" | string "ImportOnModify"
LinkResourceStoreState_EnumValue = string "Normal" | string "Cached" | string "Contained" | string "Embedded"
ListAlignment_EnumValue = string "LeftAlign" | string "CenterAlign" | string "RightAlign"
ListType_EnumValue = string "NoList" | string "BulletList" | string "NumberedList"
LockStateValues_EnumValue = string "None" | string "UnmanagedStory" | string "CheckedInStory" | string "CheckedOutStory" | string "LockedStory" | string "EmbeddedStory" | string "MissingLockState" | string "MixedLockState"
MarkLineWeight_EnumValue = string "P125pt" | string "P25pt" | string "P50pt" | string "P05mm" | string "P07mm" | string "P10mm" | string "P15mm" | string "P20mm" | string "P30mm"
MarkTypes_EnumValue = string "Default" | string "JMarkWithCircle" | string "JMarkWithoutCircle"
MeasurementUnits_EnumValue = string "Points" | string "Picas" | string "Inches" | string "InchesDecimal" | string "Millimeters" | string "Centimeters" | string "Ciceros" | string "Custom" | string "Agates" | string "U" | string "Bai" | string "Mils" | string "Pixels" | string "Q" | string "Ha" | string "AmericanPoints"
MojikumiTableDefaults_EnumValue = string "Nothing" | string "LineEndAllOneHalfEmEnum" | string "OneEmIndentLineEndUkeOneHalfEmEnum" | string "OneOrOneHalfEmIndentLineEndUkeOneHalfEmEnum" | string "OneOrOneHalfEmIndentLineEndAllOneEmEnum" | string "OneEmIndentLineEndAllOneEmEnum" | string "OneEmIndentLineEndAllNoFloatEnum" | string "OneEmIndentLineEndUkeNoFloatEnum" | string "OneOrOneHalfEmIndentLineEndUkeNoFloatEnum" | string "OneEmIndentLineEndAllOneHalfEmEnum" | string "LineEndAllOneEmEnum" | string "LineEndUkeNoFloatEnum" | string "OneOrOneHalfEmIndentLineEndPeriodOneEmEnum" | string "OneEmIndentLineEndPeriodOneEmEnum" | string "LineEndPeriodOneEmEnum" | string "TradChineseDefault" | string "SimpChineseDefault"
MoviePlayOperations_EnumValue = string "Play" | string "PlayFromNavigationPoint" | string "Stop" | string "Pause" | string "Resume" | string "StopAll"
NestedStyleDelimiters_EnumValue = string "Sentence" | string "AnyWord" | string "AnyCharacter" | string "Letters" | string "Digits" | string "Tabs" | string "InlineGraphic" | string "Dropcap" | string "ForcedLineBreak" | string "EndNestedStyle" | string "IndentHereTab" | string "EmSpace" | string "EnSpace" | string "NonbreakingSpace" | string "AutoPageNumber" | string "SectionMarker" | string "Repeat"
NothingEnum_EnumValue = string "Nothing"
NumberedParagraphsOptions_EnumValue = string "IncludeFullParagraph" | string "IncludeNumbersOnly" | string "ExcludeNumbers"
NumberingStyle_EnumValue = string "UpperRoman" | string "LowerRoman" | string "UpperLetters" | string "LowerLetters" | string "Arabic" | string "Kanji" | string "KatakanaModern" | string "KatakanaTraditional" | string "FormatNone" | string "SingleLeadingZeros" | string "ArabicAlifBaTah" | string "ArabicAbjad" | string "HebrewBiblical" | string "HebrewNonStandard" | string "DoubleLeadingZeros" | string "TripleLeadingZeros"
OTFFigureStyle_EnumValue = string "TabularLining" | string "ProportionalOldstyle" | string "ProportionalLining" | string "TabularOldstyle" | string "Default"
OutlineJoin_EnumValue = string "MiterEndJoin" | string "RoundEndJoin" | string "BevelEndJoin"
PDFCrop_EnumValue = string "CropArt" | string "CropPDF" | string "CropTrim" | string "CropBleed" | string "CropMedia" | string "CropContentVisibleLayers" | string "CropContentAllLayers" | string "CropContent"
PPDValues_EnumValue = string "DeviceIndependent"
PageBindingOptions_EnumValue = string "Default" | string "RightToLeft" | string "LeftToRight"
PageColorOptions_EnumValue = string "Nothing" | string "UseMasterColor"
PageNumberPosition_EnumValue = string "AfterEntry" | string "BeforeEntry" | string "None"
PageNumberStyle_EnumValue = string "UpperRoman" | string "LowerRoman" | string "UpperLetters" | string "LowerLetters" | string "Arabic" | string "Kanji" | string "DoubleLeadingZeros" | string "TripleLeadingZeros" | string "ArabicAlifBaTah" | string "ArabicAbjad" | string "HebrewBiblical" | string "HebrewNonStandard" | string "SingleLeadingZeros" | string "FullWidthArabic"
PageNumberTypes_EnumValue = string "AutoPageNumber" | string "NextPageNumber" | string "PreviousPageNumber" | string "TextVariable"
PagePositions_EnumValue = string "UpperLeft" | string "CenterHorizontally" | string "CenterVertically" | string "Centered"
PageRange_EnumValue = string "AllPages" | string "SelectedItems"
PageReferenceType_EnumValue = string "CurrentPage" | string "ToNextStyleChange" | string "ToNextUseOfStyle" | string "ToEndOfStory" | string "ToEndOfDocument" | string "ToEndOfSection" | string "ForNextNParagraphs" | string "ForNextNPages" | string "SuppressPageNumbers"
PageTransitionDirectionOptions_EnumValue = string "NotApplicable" | string "Down" | string "RightToLeft" | string "LeftDown" | string "LeftUp" | string "LeftToRight" | string "RightDown" | string "RightUp" | string "Up" | string "In" | string "Out" | string "Horizontal" | string "Vertical" | string "HorizontalIn" | string "HorizontalOut" | string "VerticalIn" | string "VerticalOut"
PageTransitionDurationOptions_EnumValue = string "Fast" | string "Medium" | string "Slow"
PageTransitionTypeOptions_EnumValue = string "None" | string "BlindsTransition" | string "BoxTransition" | string "CombTransition" | string "CoverTransition" | string "DissolveTransition" | string "FadeTransition" | string "PageTurnTransition" | string "PushTransition" | string "SplitTransition" | string "UncoverTransition" | string "WipeTransition" | string "ZoomInTransition" | string "ZoomOutTransition"
PaperSize_EnumValue = string "Auto"
PaperSizes_EnumValue = string "DefinedByDriver" | string "Custom"
ParagraphBreakTypes_EnumValue = string "Anywhere" | string "NextColumn" | string "NextFrame" | string "NextPage" | string "NextOddPage" | string "NextEvenPage"
ParagraphDirectionOptions_EnumValue = string "LeftToRightDirection" | string "RightToLeftDirection"
ParagraphJustificationOptions_EnumValue = string "DefaultJustification" | string "ArabicJustification" | string "NaskhJustification"
PathTypeAlignments_EnumValue = string "TopPathAlignment" | string "BottomPathAlignment" | string "CenterPathAlignment"
PlacedVectorProfilePolicy_EnumValue = string "IgnoreAll" | string "IgnoreOutputIntent" | string "HonorAllProfiles"
PlayMode_EnumValue = string "Once" | string "StayOpen" | string "RepeatPlay"
PlayOperations_EnumValue = string "Play" | string "Stop" | string "Pause" | string "Resume" | string "StopAll"
Position_EnumValue = string "Normal" | string "Superscript" | string "Subscript" | string "OTSuperscript" | string "OTSubscript" | string "OTNumerator" | string "OTDenominator"
PositionalForms_EnumValue = string "None" | string "Calculate" | string "Initial" | string "Medial" | string "Final" | string "Isolated"
PostScriptLevels_EnumValue = string "Level2" | string "Level3"
PreflightRuleFlag_EnumValue = string "RuleIsDisabled" | string "ReturnAsError" | string "ReturnAsWarning" | string "ReturnAsInformational"
PrintLayerOptions_EnumValue = string "AllLayers" | string "VisibleLayers" | string "VisiblePrintableLayers"
PrintPageOrientation_EnumValue = string "Portrait" | string "Landscape" | string "ReversePortrait" | string "ReverseLandscape"
PrinterPresetTypes_EnumValue = string "Default" | string "Custom"
Printer_EnumValue = string "PostscriptFile"
Profile_EnumValue = string "PostScriptCMS" | string "UseDocument" | string "Working" | string "NoCMS"
RenderingIntent_EnumValue = string "UseColorSettings" | string "Perceptual" | string "Saturation" | string "RelativeColorimetric" | string "AbsoluteColorimetric"
ResolveStyleClash_EnumValue = string "ResolveClashUseExisting" | string "ResolveClashAutoRename" | string "ResolveClashUseNew"
RestartPolicy_EnumValue = string "AnyPreviousLevel" | string "AfterSpecificLevel" | string "RangeOfLevels"
RubyAlignments_EnumValue = string "RubyLeft" | string "RubyCenter" | string "RubyRight" | string "RubyFullJustify" | string "RubyJIS" | string "RubyEqualAki" | string "Ruby1Aki"
RubyKentenPosition_EnumValue = string "AboveRight" | string "BelowLeft"
RubyOverhang_EnumValue = string "None" | string "RubyOverhangOneRuby" | string "RubyOverhangHalfRuby" | string "RubyOverhangOneChar" | string "RubyOverhangHalfChar" | string "RubyOverhangNoLimit"
RubyParentSpacing_EnumValue = string "RubyParentNoAdjustment" | string "RubyParentBothSides" | string "RubyParent121Aki" | string "RubyParentEqualAki" | string "RubyParentFullJustify"
RubyTypes_EnumValue = string "GroupRuby" | string "PerCharacterRuby"
RuleDataType_EnumValue = string "IntegerDataType" | string "ShortIntegerDataType" | string "RealDataType" | string "StringDataType" | string "BooleanDataType" | string "ObjectDataType" | string "ListDataType"
RuleWidth_EnumValue = string "TextWidth" | string "ColumnWidth"
RulerOrigin_EnumValue = string "SpreadOrigin" | string "PageOrigin" | string "SpineOrigin"
ScaleModes_EnumValue = string "ScaleWidthHeight" | string "ScaleToFit"
Screeening_EnumValue = string "Default" | string "Custom"
SearchStrategies_EnumValue = string "FirstOnPage" | string "LastOnPage"
Sequences_EnumValue = string "All" | string "Odd" | string "Even"
ShadowMode_EnumValue = string "None" | string "Drop"
SignatureSizeOptions_EnumValue = string "SignatureSize4" | string "SignatureSize8" | string "SignatureSize12" | string "SignatureSize16" | string "SignatureSize32"
SingleWordJustification_EnumValue = string "LeftAlign" | string "CenterAlign" | string "RightAlign" | string "FullyJustified"
SourceSpaces_EnumValue = string "UseDocument" | string "ProofSpace"
SpanColumnCountOptions_EnumValue = string "All"
SpanColumnTypeOptions_EnumValue = string "SingleColumn" | string "SpanColumns" | string "SplitColumns"
SpecialCharacters_EnumValue = string "AutoPageNumber" | string "NextPageNumber" | string "PreviousPageNumber" | string "SectionMarker" | string "BulletCharacter" | string "CopyrightSymbol" | string "DegreeSymbol" | string "EllipsisCharacter" | string "ForcedLineBreak" | string "ParagraphSymbol" | string "RegisteredTrademark" | string "SectionSymbol" | string "TrademarkSymbol" | string "RightIndentTab" | string "IndentHereTab" | string "EmDash" | string "EnDash" | string "DiscretionaryHyphen" | string "NonbreakingHyphen" | string "EndNestedStyle" | string "DoubleLeftQuote" | string "DoubleRightQuote" | string "SingleLeftQuote" | string "SingleRightQuote" | string "EmSpace" | string "EnSpace" | string "FlushSpace" | string "HairSpace" | string "NonbreakingSpace" | string "ThinSpace" | string "FigureSpace" | string "PunctuationSpace" | string "ColumnBreak" | string "FrameBreak" | string "PageBreak" | string "OddPageBreak" | string "EvenPageBreak" | string "FootnoteSymbol" | string "LeftToRightEmbedding" | string "RightToLeftEmbedding" | string "PopDirectionalFormatting" | string "LeftToRightOverride" | string "RightToLeftOverride" | string "DottedCircle" | string "ZeroWidthJoiner" | string "TextVariable" | string "SingleStraightQuote" | string "DoubleStraightQuote" | string "DiscretionaryLineBreak" | string "ZeroWidthNonjoiner" | string "ThirdSpace" | string "QuarterSpace" | string "SixthSpace" | string "FixedWidthNonbreakingSpace" | string "HebrewMaqaf" | string "HebrewGeresh" | string "HebrewGershayim" | string "ArabicKashida" | string "ArabicComma" | string "ArabicSemicolon" | string "ArabicQuestionMark" | string "LeftToRightMark" | string "RightToLeftMark" | string "HebrewSofPasuk"
SpreadFlattenerLevel_EnumValue = string "Default" | string "None" | string "Custom"
StartParagraph_EnumValue = string "Anywhere" | string "NextColumn" | string "NextFrame" | string "NextPage" | string "NextOddPage" | string "NextEvenPage"
StateTypes_EnumValue = string "Up" | string "Rollover" | string "Down"
StoryDirectionOptions_EnumValue = string "LeftToRightDirection" | string "RightToLeftDirection" | string "UnknownDirection"
StoryHorizontalOrVertical_EnumValue = string "Horizontal" | string "Vertical" | string "Unknown"
StrokeAlignment_EnumValue = string "CenterAlignment" | string "InsideAlignment" | string "OutsideAlignment"
StrokeCornerAdjustment_EnumValue = string "None" | string "Dashes" | string "Gaps" | string "DashesAndGaps"
StrokeOrderTypes_EnumValue = string "RowOnTop" | string "ColumnOnTop" | string "BestJoins" | string "Indesign2Compatibility"
TabStopAlignment_EnumValue = string "LeftAlign" | string "CenterAlign" | string "RightAlign" | string "CharacterAlign"
TableDirectionOptions_EnumValue = string "LeftToRightDirection" | string "RightToLeftDirection"
TableFormattingOptions_EnumValue = string "ExcelFormattedTable" | string "ExcelUnformattedTable" | string "ExcelUnformattedTabbedText" | string "ExcelFormatOnlyOnce"
TextImportCharacterSet_EnumValue = string "Ansi" | string "RecommendShiftJIS83pv" | string "ShiftJIS90pv" | string "ShiftJIS90ms" | string "GB2312" | string "ChineseBig5" | string "MacintoshCE" | string "MacintoshCyrillic" | string "MacintoshGreek" | string "MacintoshTurkish" | string "WindowsCyrillic" | string "WindowsEE" | string "WindowsGreek" | string "WindowsTurkish" | string "GB18030" | string "KSC5601" | string "WindowsBaltic" | string "WindowsCE" | string "MacintoshRoman" | string "MacintoshCroatian" | string "MacintoshIcelandic" | string "MacintoshRomanian" | string "CyrillicKOI8R" | string "CyrillicKOI8U" | string "CyrillicCP855" | string "DOSLatin2" | string "CyrillicISO" | string "GreekISO" | string "CentralEuropeanISO" | string "TurkishISO" | string "UTF16" | string "UTF8"
TextPathEffects_EnumValue = string "RainbowPathEffect" | string "SkewPathEffect" | string "RibbonPathEffect" | string "StairStepPathEffect" | string "GravityPathEffect"
TextStrokeAlign_EnumValue = string "CenterAlignment" | string "OutsideAlignment"
TextTypeAlignments_EnumValue = string "AscenderTextAlignment" | string "DescenderTextAlignment" | string "CenterTextAlignment" | string "BaselineTextAlignment" | string "AboveRightEmBoxTextAlignment" | string "BelowLeftEmBoxTextAlignment" | string "AboveRightIcfBoxTextAlignment" | string "BelowLeftIcfBoxTextAlignment"
TextWrapModes_EnumValue = string "None" | string "JumpObjectTextWrap" | string "NextColumnTextWrap" | string "BoundingBoxTextWrap" | string "Contour"
TextWrapSideOptions_EnumValue = string "BothSides" | string "LeftSide" | string "RightSide" | string "SideTowardsSpine" | string "SideAwayFromSpine" | string "LargestArea"
ThumbsPerPage_EnumValue = string "K1x2" | string "K2x2" | string "K3x3" | string "K4x4" | string "K5x5" | string "K6x6" | string "K7x7"
TilingTypes_EnumValue = string "Auto" | string "AutoJustified" | string "Manual"
TrapEndTypes_EnumValue = string "MiterTrapEnds" | string "OverlapTrapEnds"
TrapImagePlacementTypes_EnumValue = string "CenterEdges" | string "Choke" | string "ImageNeutralDensity" | string "ImagesOverSpread"
Trapping_EnumValue = string "Off" | string "ApplicationBuiltin" | string "AdobeInRIP"
UIColors_EnumValue = string "LightBlue" | string "Red" | string "Green" | string "Blue" | string "Yellow" | string "Magenta" | string "Cyan" | string "Gray" | string "Black" | string "Orange" | string "DarkGreen" | string "Teal" | string "Tan" | string "Brown" | string "Violet" | string "Gold" | string "DarkBlue" | string "Pink" | string "Lavender" | string "BrickRed" | string "OliveGreen" | string "Peach" | string "Burgundy" | string "GrassGreen" | string "Ochre" | string "Purple" | string "LightGray" | string "Charcoal" | string "GridBlue" | string "GridOrange" | string "Fiesta" | string "LightOlive" | string "Lipstick" | string "CuteTeal" | string "Sulphur" | string "GridGreen" | string "White"
UpdateLinkOptions_EnumValue = string "Unknown" | string "ApplicationSettings" | string "KeepOverrides"
VariableNumberingStyles_EnumValue = string "Current" | string "Arabic" | string "UpperRoman" | string "LowerRoman" | string "UpperLetters" | string "LowerLetters" | string "Kanji" | string "FullWidthArabic" | string "SingleLeadingZeros" | string "DoubleLeadingZeros"
VariableScopes_EnumValue = string "DocumentScope" | string "SectionScope"
VariableTypes_EnumValue = string "CustomTextType" | string "FileNameType" | string "LastPageNumberType" | string "ChapterNumberType" | string "OutputDateType" | string "CreationDateType" | string "ModificationDateType" | string "MatchCharacterStyleType" | string "MatchParagraphStyleType" | string "XrefPageNumberType" | string "XrefChapterNumberType" | string "LiveCaptionType"
VerticalAlignment_EnumValue = string "TopAlign" | string "BottomAlign" | string "CenterAlign"
VerticalJustification_EnumValue = string "TopAlign" | string "CenterAlign" | string "BottomAlign" | string "JustifyAlign"
VerticallyRelativeTo_EnumValue = string "ColumnEdge" | string "TextFrame" | string "PageMargins" | string "PageEdge" | string "LineBaseline" | string "LineXheight" | string "LineAscent" | string "Capheight" | string "TopOfLeading"
ViewZoomStyle_EnumValue = string "FullScreen" | string "ZoomIn" | string "ZoomOut" | string "FitPage" | string "ActualSize" | string "FitWidth" | string "FitVisible" | string "SinglePage" | string "OneColumn" | string "TwoColumn"
VisibilityInPdf_EnumValue = string "VisibleInPdf" | string "HiddenInPdf" | string "VisibleButDoesNotPrintInPdf" | string "HiddenButPrintableInPdf"
WarichuAlignment_EnumValue = string "Auto" | string "LeftAlign" | string "CenterAlign" | string "RightAlign" | string "FullyJustified" | string "LeftJustified" | string "CenterJustified" | string "RightJustified"
WatermarkHorizontalPositionEnum_EnumValue = string "WatermarkHLeft" | string "WatermarkHCenter" | string "WatermarkHRight"
WatermarkVerticalPositionEnum_EnumValue = string "WatermarkVTop" | string "WatermarkVCenter" | string "WatermarkVBottom"
XMLExportUntaggedTablesFormat_EnumValue = string "None" | string "CALS"
XMLFileEncoding_EnumValue = string "UTF8" | string "UTF16" | string "ShiftJIS"
XMLImportStyles_EnumValue = string "AppendImport" | string "MergeImport"
XMLTransformFile_EnumValue = string "StylesheetInXML"


}
